<p>person-view works!</p>
<p-tabs value="0">
    <p-tablist>
        <p-tab style="border-bottom: 2px solid blue" value="0">Detailed View &nbsp;&nbsp;&nbsp;</p-tab>
        <p-tab value="1"> History  &nbsp;&nbsp;&nbsp;</p-tab>
        <!-- <p-tab value="2">Cross Reference_old &nbsp;&nbsp;&nbsp;</p-tab> 
        <p-tab value="3">Match Reference _old &nbsp;&nbsp;&nbsp;</p-tab>  -->
        <p-tab value="2">Match Reference &nbsp;&nbsp;&nbsp;</p-tab> 
        <p-tab value="3">Cross Reference &nbsp;&nbsp;&nbsp;</p-tab> 
    </p-tablist>
    <p-tabpanels>
        <p-tabpanel value="0">
            firsttab
            <!-- <div class="p-6"> 
                <caption>Over View</caption>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 bg-white rounded-lg shadow-md p-6">
                  
             
                  <div class="flex flex-col">
                    <label class="text-sm font-semibold text-gray-600 mb-1">Name</label>
                    <div class="text-gray-800 bg-gray-50 rounded-md px-4 py-2 shadow-sm border border-gray-200">Alice Johnson</div>
                  </div>
              
                
                  <div class="flex flex-col">
                    <label class="text-sm font-semibold text-gray-600 mb-1">Email</label>
                    <div class="text-gray-800 bg-gray-50 rounded-md px-4 py-2 shadow-sm border border-gray-200">alice_example.com</div>
                  </div>
              
           
                  <div class="flex flex-col">
                    <label class="text-sm font-semibold text-gray-600 mb-1">Role</label>
                    <div class="text-gray-800 bg-gray-50 rounded-md px-4 py-2 shadow-sm border border-gray-200">Developer</div>
                  </div>
              
               
                  <div class="flex flex-col">
                    <label class="text-sm font-semibold text-gray-600 mb-1">Name</label>
                    <div class="text-gray-800 bg-gray-50 rounded-md px-4 py-2 shadow-sm border border-gray-200">Bob Smith</div>
                  </div>
              
                
                  <div class="flex flex-col">
                    <label class="text-sm font-semibold text-gray-600 mb-1">Email</label>
                    <div class="text-gray-800 bg-gray-50 rounded-md px-4 py-2 shadow-sm border border-gray-200">bob_example.com</div>
                  </div>
              
                  
                  <div class="flex flex-col">
                    <label class="text-sm font-semibold text-gray-600 mb-1">Role</label>
                    <div class="text-gray-800 bg-gray-50 rounded-md px-4 py-2 shadow-sm border border-gray-200">Designer</div>
                  </div>
              
                </div>
              </div> -->
              
              

        </p-tabpanel>
        <p-tabpanel value="1">
            hello 2
        </p-tabpanel>
        <p-tabpanel value="2">
            hello 3
        </p-tabpanel>
        <p-tabpanel value="3">
            hello 4
        </p-tabpanel>
    </p-tabpanels>
</p-tabs>