<!-- <p>home worksw!</p> -->
<!-- <p-menubar [model]="menuItems"></p-menubar> -->
 <div>
    <br/>
 </div>
<!-- <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu> -->

<div class="p-tabmenu-nav-content">



<div class="flex">
    <div class="w-1/2 bg-white-500 p-4 text-white">Left Div
       
        <div style="width: 100%;height: 400px;">
            <p-chart #chart type="bar" [data]="customerCountByCountry" [options]="customerCountByCountryOptions"   ></p-chart> 
        </div>
          <!-- <p-chart type="bar" [data]="basicData" [options]="options" width="40vw" height="40vh" ></p-chart> -->
    </div>
    <div class="w-1/2 bg-white-500 p-4 text-white">Right Div
        <p-chart type="bar" [data]="customerActiveInactive" [options]="customerActiveInactiveOptions" class="h-[30rem]" />
    </div>
  </div>

  <div class="flex">
    <div class="w-1/2 bg-white-500 p-4 text-white">Left Div
        <p-chart type="bar" [data]="customerCountBySystemName" [options]="customerCountBySystemOptions"   class="h-[30rem]" ></p-chart> 
         
        <!-- <p-chart type="bar" [data]="basicData" [options]="options" width="40vw" height="40vh" ></p-chart> -->
    </div>
    <div class="w-1/2 bg-white-500 p-4 text-white">

        <br/>
     
        <p-chart type="bar" [data]="customerByYearResponse" [options]="yearGraphOptions" class="h-[30rem]" />
    </div>
  </div>

  <div class="flex">
    <div class="w-1/2 bg-white-500 p-4 text-white">Left Div
         <p-chart type="bar" [data]="customerCountByCity" [options]="customerCountByCityOptions"   class="h-[30rem]" ></p-chart>
    
       </div>
    <div class="w-1/2 bg-white-500 p-4 text-white">

        <br/>
     
                   </div>
  </div>
</div>