<p>left-menu works!</p>

<!-- <p-sidebar [visible]="true" position="left">
    <h1 style="font-weight:normal">Right Sidebar</h1>
    <p-menu #menu [model]="items" ></p-menu>
</p-sidebar> -->
<!--   
    <p-panel header="Title" [toggleable]="true" [collapsed]="true">
      Content
    </p-panel> -->
 
 <!-- <p-menu #menu [model]="items" ></p-menu>  -->

<!-- <h5>Overlay</h5>
<button type="button" pButton pRipple icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>
<p-menu #menu [popup]="true" [model]="items"></p-menu> -->
<!-- <div class="join justify-center flex my-4">
    <a  routerLink="home"  > home</a>
    <a routerLink="taskManager"> Task </a>
  
</div> -->