 
<div class="container-fluid">

    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            Cust id: {{custId}} 
            <table>
<tr>
    <td >{{customerResult['FIRST_NAME']}}</td>
				<td >{{customerResult['LAST_NAME']}}</td>
				<!-- <td>{{customerResult.BIRTH_DATE}}</td>
				<td>{{customerResult.EMAIL}}</td>
				<td>{{customerResult.AGE}}</td>
				<td >{{customerResult.GENDER_CD}}</td>
				
				<td>{{customerResult.PHONE}}</td>
				<td>{{customerResult.CITY}}</td>
			  
				<td>{{customerResult.ZIP_CODE}}</td>
				<td>{{customerResult.STATE}}</td>
				<td>{{customerResult.COUNTRY}}</td> -->
</tr>
            </table>
            
        </div>
    </div>
</div>