<!-- <p>users works!</p> -->
<div class="flex">
    <div class="w-1/2 bg-white-500 p-4 text-white">Left Div
    <!-- <p-button   icon="pi pi-plus"  style="width:90px !important;float:right !important" label="New User" (click)="createNewUser()" /> -->
     </div>
  
     <div class="w-1/2 bg-white-500 p-4 text-white">Right Div
      <p-button   class="buttonCls" icon="pi pi-plus"  label="User"   (click)="createNewUser()" />
  </div>
  <div>
  
    <p-dialog
    header="Create User"
    [modal]="true"
    [(visible)]="queryTableDisplay"
    [style]="{ width: '28.5rem',height:'28rem' }"
    >
    
    
    
    <div class="flex flex-wrap gap-6">
        <div class="flex-1 min-w-[300px]">
            <table class="table-auto w-full border border-gray-300">
              <!-- <thead class="bg-gray-100">
                <tr>
                  <th class="border px-4 py-2 text-left">Read Access : </th>
                  <th class="border px-4 py-2 text-left">Write Access : </th>
                </tr>
              </thead> -->
          
              <tbody>
                <tr>
                  <td class="border px-4 py-2">
                    <label for="customer" class="block font-semibold mb-2">  Fisrt Name :</label>
                    <input type="text" pInputText id="customer" class="w-full"  [(ngModel)]="firstName" style="border: 1px solid black; "   />
              
                  </td>
                  <td class="border px-4 py-2">
                    <label for="customer" class="block font-semibold mb-2">  Last Name :</label>
          <input type="text" pInputText id="customer" class="w-full" [(ngModel)]="lastName"  style="border: 1px solid black; "  />
                  </td>
                </tr>
                <tr>
                  <td class="border px-4 py-2">
                    <label for="customer" class="block font-semibold mb-2"> User Name :</label>
                    <input type="text" pInputText id="customer" class="w-full"  [(ngModel)]="userName"   style="border: 1px solid black; "  />
              
                  </td>
                  <td class="border px-4 py-2">
                    <label for="customer" class="block font-semibold mb-2">  Email :</label>
          <input type="text" pInputText id="customer" class="w-full"  [(ngModel)]="email"    style="border: 1px solid black; "  />
                  </td>
                </tr>
      
                 <tr>
                  <td class="border px-4 py-2">
                    <label for="customer" class="block font-semibold mb-2"> Phone Number:</label>
                    <input type="text" pInputText id="customer" class="w-full"  [(ngModel)]="phoneNumber"  style="border: 1px solid black; "  />
              
                  </td>
                  <td class="border px-4 py-2">
                    <p-multiSelect [(ngModel)]="selectedRoles" [options]="userRoles" optionLabel="name" optionValue="id"
		defaultLabel="Choose User Roles"></p-multiSelect>
                    <!-- <label for="customer" class="block font-semibold mb-2">  Email :</label>
          <input type="text" pInputText id="customer" class="w-full"  style="border: 1px solid black; "  /> -->
                  </td>
                </tr>
              
               
              </tbody>
            </table>
          </div>
        
        
        </div>
      
      <div class="flex flex-wrap gap-6">
        <div class="flex-1 min-w-[300px]">
            
          </div>
        
        
        </div>
        <span> </span>
         
        
       
      <br/>
      <!-- <br/> -->
      <p-button class="buttonCls" label="Create User"  (click)="submitUser()"  /> 
    
    </p-dialog>
    </div>
  </div>
  <div class="flex" style="margin-left:100px;">
<p-table [value]="users"  #myCustTable [scrollable]="true" styleClass="mt-4" stripedRows 
[paginator]="true"
[rows]="10"
[first]="first"
[totalRecords]="totalRecords"
[rowsPerPageOptions]="[5, 10, 20]"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
(onPage)="pageChange($event)"
class="shadow rounded-lg overflow-hidden border border-gray-200 text-sm"
style="min-width: 1090px;"
>
<!-- <p-iconfield iconPosition="left" class="ml-auto">
    <p-inputicon>
        <i class="pi pi-search"></i>
    </p-inputicon>
    <input pInputText style="height:39px !important;"type="text" (input)="myCustTable.filterGlobal($event.target.value, 'contains')" placeholder=" Global Search " />
</p-iconfield> -->
    <ng-template #header>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>User Name</th>
            <th>Email</th>
            <th> </th>
        </tr>
    </ng-template>
    <ng-template #body let-user>
        <tr>
            
            <td>{{ user.FIRSTNAME }}</td>
            <td>{{ user.LASTNAME }}</td>
            <td>{{ user.PHONE }}</td>
            
            <td>{{ user.USERNAME }}</td>
            <td>{{ user.EMAIL }}</td>
            <td><p-button    label="Edit" (click)="viewUser(user);" /></td>
        </tr>
    </ng-template>
</p-table>
</div>